@using CarIn.Models.Entities
@{
    ViewBag.Title = "CarIn";
}

          
<h3>Alla users i databasen</h3>
<ul>
    @foreach(var item in ViewBag.AllUsers as List<User>)
    {
        <li>
            ID = @item.ID Användarnamn = @item.Username Lösenord = @item.Password 
        </li>
    }
</ul>
