@{
    Layout = "";
}


<!DOCTYPE html>
<html>
  <head>
    <title>CarIn</title>
    <meta name="viewport" content="width=device-width" />
    <style>
        div {
            width: auto;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 30px;
            }
        #logo img {
            width: 161px;
        }
        #text img {
            width: 216px;
        }
        #arrow img {
            width: 48px;
        }
        .bottom{
            position:absolute; 
            bottom:0;
            width: 100%;
        }
        body {
            background-image:url(@Url.Content("/Images/iOS/bg.png"));
            background-size: cover;
            }
    </style>
  </head>
  <body>
      <div id="logo"><img src="@Url.Content("/Images/iOS/logo.png")" /></div>
      <div id="text"><img src="@Url.Content("/Images/iOS/text.png")" /></div>
      <div id="arrow" class="bottom"><img src="@Url.Content("/Images/iOS/arrow.png")" /></div>
  </body>
</html>

