@model CarIn.Models.ViewModels.AccountStatus
@{
    if (!string.IsNullOrEmpty(Model.UserName))
    {
        <div class="username">@Model.UserName</div>  
    }else{
        @Html.ActionLink("Registrera dig här!", "RegisterNewUser", "Home", null, new {@class = "btn log-in-btn small"})
    }
}
    